<header class="header" role="banner">
  <h1 class="logo">
    <a>JOB <span>GATE</span></a>
  </h1>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul class="unstyled list-hover-slide">
        <li (click)="navigateTo('Home', $event)" ><a href="#">Home</a></li>
        <li (click)="navigateTo('user-profile', $event)" ><a href="#">My Profile</a></li>
        <li (click)="navigateTo('ResearchById', $event)" ><a href="#">Research</a></li><!--recherche blhaq -->
        <li (click)="navigateToList('developers', $event)" ><a href="#">Developers List</a></li>
        <li (click)="navigateToList('testors', $event)" ><a href="#">Testors List</a></li>
        <li (click)="navigateToList('responsibles', $event)" ><a href="#">Responsibles List</a></li>
        <li (click)="navigateToList('appliers', $event)" ><a href="#">appliers List</a></li>
        <li (click)="logout( $event)" ><a href="#">Logout</a></li>
      </ul>
    </nav>
    <!--
    <ul class="social-links list-inline unstyled list-hover-slide">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Google+</a></li>
      <li><a href="#">GitHub</a></li>
      <li><a href="#">CodePen</a></li>
    </ul>
    -->
  </div>
</header>
